@use '../../../../styles/spacing';
@use '../../../../styles/colors';
@use '../../../../styles/typography';

.top-rated-card {
  padding: spacing.$spacing-xs;
  margin: spacing.$spacing-sm;
  min-width: 10vw;

  .background-image {
    filter: brightness(30%);
  }

  .bottom, .top {
    font-size: typography.$font-size-xxs;

    .plus{
      min-width: 30%;
    }

    .watch-now {
      width: 100%;
      margin-left: spacing.$spacing-xs;
    }
  }
}