@use '../../../styles/spacing';

.card-container {
  position: relative;
  max-width: 240px;
  min-height: 300px;
  margin: spacing.$spacing-sm;
  gap: spacing.$spacing-xxl;
  padding: spacing.$spacing-md spacing.$spacing-sm;
  box-sizing: border-box;
}

.card-bottom {
  max-height: 30%;
  align-items: center;
}

@media (max-width: 770px) {
  .card-container {
    width: 90%;
  }

  .card-bottom {
    justify-content: center;
  }

  .plus {
    width: 15%;
  }

}

@media (min-width: 1700px) {
  .card-container {
    max-width: 300px;
    min-height: 440px;
  }
}

@media (min-width: 2100px) {
  .card-container {
    max-width: 360px;
    min-height: 500px;
  }
}