@use '../../../../styles/typography';
@use '../../../../styles/spacing';
@use '../../../../styles/colors';

.showcase-content {
  .showcase-scroll {
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    & > div {
      scroll-snap-align: start;
    }
  }
}

.showcase {
  h5 {
    padding-left: spacing.$spacing-md;
  }
}