@use "../../../styles/spacing";
@use "../../../styles/colors";
@use "../../../styles/typography";
@use "../../../styles/buttons";

.navbar {
  height: 12vmin;
  align-items: center;
  width: 100%;
  max-height: 40px;
}

.search-box {
  align-items: center;
  justify-content: space-evenly;
  max-width: 15vw;
  padding: spacing.$spacing-xs spacing.$spacing-xs;
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
}

input {
  border: none;
  max-width: 60%;
  background-color: transparent;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1100px) {
  .hamburger-menu {
    display: flex;
    margin-left: 2vw;

    &:hover {
      cursor: pointer;
      color: colors.$primary-color;
    }
  }

  .search-box {
    max-width: 20%;
  }
}

@media (max-width: 770px) {
  input {
    width: 30%;
    font-size: 0.6rem;
  }

  .search-box {
    font-size: 0.45rem;
  }
}