@use '../../../styles/spacing';
@use '../../../styles/typography';
@use '../../../styles/colors';

.left-sidebar {
  height: 100%;
  gap: spacing.$spacing-xl;
  padding: 0 spacing.$spacing-xl;
  font-weight: typography.$font-weight-light;
}

.sidebar-title {
  margin: spacing.$spacing-md;
}