@use 'colors';
@use 'typography';
@use 'spacing';

.button {
  @include typography.font-style(typography.$font-size-md, typography.$font-weight-bold, typography.$font-family-header);
  color: white;
  padding: spacing.$spacing-sm spacing.$spacing-md;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 spacing.$spacing-xs;
  text-decoration: none;

  &:hover {
    background-color: white;
    color: colors.$primary-color;
  }

  &.button--secondary {
    background-color: white;
    color: colors.$primary-color;
    padding: spacing.$spacing-xxs spacing.$spacing-xs;

    &:hover {
      background-color: colors.$primary-color;
      color: white;
    }
  }

}