@use 'colors';
@use 'typography';
@use 'spacing';
@use 'screens';

.button {
  @include typography.font-style(typography.$font-size-md, typography.$font-weight-bold, typography.$font-family-header);
  color: white;
  padding: spacing.$spacing-sm spacing.$spacing-md;
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 spacing.$spacing-xs;
  text-decoration: none;

  &:hover {
    background-color: white;
    color: colors.$primary-color;
  }

  &.button--secondary {
    background-color: white;
    color: colors.$primary-color;
    padding: spacing.$spacing-xxs spacing.$spacing-xs;

    &:hover {
      background-color: colors.$primary-color;
      color: white;
    }
  }

}

@media (min-width: screens.$phone-min) and (max-width: screens.$phone-max) {
  .button {
    padding: spacing.$spacing-xxs spacing.$spacing-xs;
    font-size: typography.$font-size-sm;
    border-radius: 4px;
  }
}

@media (min-width: screens.$tablet-min) and (max-width: screens.$tablet-max) {
  .button {
    padding: spacing.$spacing-xs spacing.$spacing-md;
    font-size: typography.$font-size-md;
    border-radius: 6px;
  }
}

@media (min-width: screens.$smallDesktop-min) and (max-width: screens.$smallDesktop-max) {
  .button {
    padding: spacing.$spacing-sm spacing.$spacing-lg;
    font-size: typography.$font-size-lg;
    border-radius: 8px;
  }
}

@media (min-width: screens.$bigDesktop-min) and (max-width: screens.$bigDesktop-max) {
  .button {
    padding: spacing.$spacing-sm spacing.$spacing-xl;
    font-size: typography.$font-size-lg;
    border-radius: 10px;
  }
}