@use "spacing";
@use "screens";

.carousel {
  width: 100vw;
  height: 64vh;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  max-height: 60vmin;
}


@media (min-width: screens.$phone-min) and (max-width: screens.$phone-max) {
  .carousel {
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    max-height: none;
    position: relative;
  }
}

@media (min-width: screens.$tablet-min) and (max-width: screens.$tablet-max) {

}

@media (min-width: screens.$smallDesktop-min) and (max-width: screens.$smallDesktop-max) {

}

@media (min-width: screens.$bigDesktop-min) and (max-width: screens.$bigDesktop-max) {

}