@use "spacing";

.carousel {
  width: 100vw;
  height: 64vh;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  scroll-behavior: inherit;
  max-height: 60vmin;

  img {
    width: 28vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
}