@use 'sass:color';

$background-color: black;
$primary-color: #ffb700;
$secondary-color: rgba(124, 123, 123, 0.26);
$secondary-color-strong: rgba(124, 123, 123, 0.8);

$text-color: rgb(248, 244, 232);