@use 'colors';
@use 'spacing';
@use 'typography';
@use 'buttons';
@use 'carousel';
@use 'screens';

body {
  overflow-x: scroll;
  margin: 0;
  font-family: typography.$font-family-body;
  background-color: colors.$background-color;
  color: colors.$text-color;
}

#root {
  margin: 0 auto;
}

.page {
  width: 100%;

}

@media (min-width: screens.$phone-min) and (max-width: screens.$phone-max) {
}

@media (min-width: screens.$tablet-min) and (max-width: screens.$tablet-max) {

}

@media (min-width: screens.$smallDesktop-min) and (max-width: screens.$smallDesktop-max) {

}

@media (min-width: screens.$bigDesktop-min) and (max-width: screens.$bigDesktop-max) {

}