@use 'colors';
@use 'spacing';
@use 'typography';
@use 'buttons';

body {
  margin: 0;
  font-family: typography.$font-family-body;
  background-color: colors.$background-color;
  color: colors.$text-color;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}