@use 'colors';
@use 'spacing';
@use 'typography';
@use 'buttons';
@use 'screens';
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  line-height: 1.5;
  font-weight: typography.$font-weight-normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: scroll;
  margin: 0;
  font-family: typography.$font-family-header;
  background-color: colors.$background-color;
  background-size: cover;
  background-position: center;
  color: colors.$text-color;
}

#root {
  margin: 0 auto;
}

.page {
  width: 100%;
}


.flex {
  display: flex;
  flex: 1 1 auto;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.center-container {
  padding: 30px;
}

h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h3 {
  margin-left: spacing.$spacing-lg;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  z-index: -1;
  opacity: 1;
  border-radius: 10px;
}

p {
  margin: 0;
  padding: 0;
}

.nav-icon {
  color: rgba(161, 161, 161);
}

.body-image {
  position: absolute;
  z-index: -1;
  opacity: 70%;
}

.body-image:nth-of-type(2) {
  transform: translate(-5%, 40%) rotate(-120deg);
}

.logo-text {
  font-size: typography.$font-size-xxl;
  font-family: 'Luckiest Guy', sans-serif;
  color: colors.$primary-color;
}

.right-sidebar {
  max-width: 20%;
  padding: 30px 0 30px 30px;
  overflow: hidden;
  position: relative;
}

.left-sidebar {
  padding-top: 30px;
}